

body {
    background-color: #1F1F1F;
    /* Primary color */
    color: #FFFFFF;
    /* Accent color for text */
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    margin: 20px auto;
    max-width: 900px;
    padding: 20px;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    color: #E50914;
}

h1 {
    font-size: 2.4rem;
    border-bottom: 2px solid #E50914;
    padding-bottom: 10px;
}

h2 {
    margin-top: 30px;
    font-size: 1.8rem;
}

em.quote {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: #E50914;
    font-size: 1.1rem;
}

p,
li {
    font-size: 1rem;
    margin-bottom: 10px;
}

ul {
    padding-left: 20px;
}

code {
    background: #333;
    padding: 3px 6px;
    border-radius: 4px;
    color: #E50914;
}
