body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-template: auto 1fr auto/auto 1fr auto;
    height: 100vh;
}

header{
    background-color: darkslategray;
    grid-column: 1/4;
}

header nav {
    width: 100%;
    background-color: black;
}

nav ul{
    display: flex;
    justify-content: space-around;
    color:white;
    padding: 2rem;
    gap: 1rem;
    list-style: none;
}
nav ul li{
    font-size: 1rem;
    font-weight: bold;
}

aside{
    padding: 5rem;
    grid-column: 3/4;
    background-color: bisque;
}

main{
    padding: 20rem;
    grid-column: 1/2;
}

footer{
    padding: 2rem;
    grid-column: 1/4;
    text-align: center;
    background-color: darkslategrey;
}