body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    height: 100vh;
}

:root{
    --primary-color: #1d4d73;
    --secondary-color: #333333;
    --font-family: "Roboto", sans-serif;
}


header{
    background-color: var(--primary-color);
    text-align: center;
}

header #course-title{
    display: block;
    color: white;
    font-size: 24px;
    font-weight: 600;
    padding: 10px 0;
}

header #course-title p{
    display: inline;
    color: yellow;
}

header nav{
    display: flex;
    background-color: var(--secondary-color);
    padding: 10px 0;
    margin-top: 10px;
    justify-content: center;
}
header nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    gap: 20px;
    display: flex;
    justify-content: space-around;
    flex: 1;
}

header nav ul li a{
    color: rgb(219, 216, 216);
    text-decoration: none;
    font-weight: 500;
}
header nav ul li a:hover{
    color: yellow;
    text-decoration: overline;
}

main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1rem;
    gap: 1rem;
}

main .card{
    border: 1px solid var(--secondary-color);
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

main .card h1{
    text-align: center;
    color: white;
    margin: 0;
    background-color: var(--primary-color);
    padding: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

main .card .about-me{
    padding: 1rem;
    display: flex;
    flex-direction: row-reverse;
}

main .card .resources{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

main .card .about-me img{
    width: 200px;
    height: 200px;
    margin-right: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

main .card .about-me p{
    text-align: justify;
    font-size: 1.1rem;
    line-height: 1.5rem;
    padding: 1.5rem;
}

main .card .rondonia{
    height: auto;
    margin-top: 1rem;
    padding: 1rem;
}

main .card .rondonia div{
    display: flex;
    gap: 1rem;
}
main .card .rondonia div p {
    display: inline;
    text-align: justify;
    font-size: 1.1rem;
    line-height: 1.5rem;
}

main .card .rondonia img{
    width: 200px;
    height: 200px;
    display: inline;
}

main .card .rondonia h2{
    text-align: center;
    border-bottom: 1px solid var(--secondary-color);
    margin-bottom: 1rem;
    width: 100%;
}

footer{
    background-color: var(--primary-color);
    text-align: center;
    padding: 1rem 0;
    color: white;
}

footer #lastModified{
    color: yellow;
}