@media (min-width: 768px) {
    main {
        width: 60%;
        margin: auto;
    }

    header h1 {
        font-size: 2.2rem;
    }

    form {
        padding: 2rem;
    }

    input[type="submit"] {
        width: 50%;
        margin: auto;
    }
}