body{
    box-sizing: border-box;
    margin: 0;
    font-family: var(--body-font);
    background-color: var(--background-light);
    color: var(--text-dark);
}
:root {
    --primary-color: #fc3d3d;
    --secondary-color: #007e3a;
    --accent-color: #ffffff;

    --text-dark: #333333;
    --text-light: #ffffff;
    --background-light: #f4f4f4;

    --heading-font: 'Merriweather', serif;
    --body-font: 'Roboto', sans-serif;
}


header {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 1rem;
    text-align: center;
}




.data-card,
.weather-card {
    background-color: var(--accent-color);
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #ccc;
}

.weather-title::after {
    content: none;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero img{
    max-width: 100%;
    height: auto;
}
footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 1rem 0;
    color: white;
}

footer #lastModified {
    color: yellow;
}