
@media (min-width: 900px) {

    main {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto auto;
   
    }

    .hero {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }

    .data-card {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        position: absolute;
        top: 150px;
        left: 30px;
        opacity: 0.9;
    }

    .weather-card {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        position: absolute;
        top: 150px;
        right: 30px;
        opacity: 0.9;
    }

    .weather-icon-mobile {
        display: none;
    }

    .weather-title::after {
        content: url("/images/wheathericon.svg");
        font-size: 1.2em;
        padding-left: 5px;
    }
}
