body{
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

:root{
    --primary-color: #3c0965;
    --font-family: "Roboto", sans-serif;
}

header{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    font-family: var(--font-family);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    justify-content:space-between;
    align-items: center;
    gap: 0.5rem 1rem;
}

.bi {
    display: block;
    justify-self: end;
    grid-column: 2;
    grid-row: 1;
    color: white;
    width: 30px;
    height: 30px;

    cursor: pointer;
}

header h1{
    grid-column: 1;
    grid-row: 1;
}
header nav{
    display: none;
    align-items: center;
    justify-content: center;
    grid-column: 1 / span 2;
}
header nav.show{
    display: flex;
}

header nav ul{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1rem;

    font-size: 1.2rem;
}

header nav ul li:hover{
    text-decoration: underline;
}

header .close-icon{
    justify-self: end;
    display: none;
}   

header.open .open-icon{
    display: none;
}
header.open .close-icon{
    display: block;
}


main{
    max-width: 1200px;
    margin: 2rem auto;
    text-align: center;
}

.album {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
}
.album figure {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.album figure:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.album img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.album figcaption {
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    background-color: #fff;
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 1rem 0;
    color: white;
}

footer #lastModified {
    color: yellow;
}

